{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i 's/\"version\":\\s*\"[^\"]*\"/\"version\": \"${nextRelease.version}\"/g' com.twds0x13.fluxformula/package.json"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "com.twds0x13.fluxformula/package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
